<h3>Welcome to Registration For Application!</h3>
<form action="/submit_regis_app" method="POST">
	<input type="text" name="regis[email]" value="Enter Your Email">
	<input type="text" name="regis[password]" value="Enter Password">
	<input type="text" name="regis[re_password]" value="Enter Password again">
	<input type="text" name="regis[first_name]" value="Enter Your First Name">
	<input type="text" name="regis[last_name]" value="Enter Your Last Name">
	<input type="text" name="regis[school]" value="Enter Your School">
	<input type="text" name="regis[degree]" value="Enter Your Degree">
	<input type="text" name="regis[gpa]" value="Enter Your GPA">
	<input type="submit" value="Submit" />
</form>
