<h3>Welcome to Registration For Company!</h3>
<form action="/submit_regis_com" method="POST">
	<input type="text" name="regis[email]" value="Enter Your Email">
	<input type="text" name="regis[password]" value="Enter Password">
	<input type="text" name="regis[re_password]" value="Enter Password again">
	<input type="text" name="regis[name]" value="Enter Company Name">
	<input type="text" name="regis[info]" value="Enter Company Info">
	<input type="submit" value="Submit" />
</form>
