<!-- <h3>Welcome to Registration For Company!</h3>
<form action="/submit_regis_com" method="POST">
	<input type="text" name="regis[email]" value="Enter Your Email">
	<input type="text" name="regis[password]" value="Enter Password">
	<input type="text" name="regis[re_password]" value="Enter Password again">
	<input type="text" name="regis[name]" value="Enter Company Name">
	<input type="text" name="regis[info]" value="Enter Company Info">
	<input type="submit" value="Submit" />
</form> -->



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CompSignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <br>
  <br>
  <div class="container">

  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      	<form role="form" action="/submit_regis_com"method="POST">
  			<h2>ResumeFinder Company <small>Sign up</small></h2>

  			<hr class="colorgraph">

  			<div class="row">
  				<!-- <div class="col-xs-12 col-sm-6 col-md-6"> -->
  					<div class="form-group">
              <input type="text" name="regis[email]" id="email" class="form-control input-lg" placeholder="Email" tabindex="1">
  					</div>
  				<!-- </div> -->
        </div>

        <div class="row">
  				<!-- <div class="col-xs-12 col-sm-6 col-md-6"> -->
  					<div class="form-group">
  						<input type="text" name="regis[name]" id="user_name" class="form-control input-lg" placeholder="company name" tabindex="2">
  					</div>
  				<!-- </div> -->
  			</div>

        <div class="row">
    			<div class="form-group">
    				<input type="text" name="regis[password]" id="password_confirmation" class="form-control input-lg" placeholder="Password" tabindex="3">
    			</div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="text" name="regis[re_password]" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
          </div>
        </div>

        <div class="row">
  			<div class="form-group">
  				<input type="text" name="regis[info]" id="email" class="form-control input-lg" placeholder="Profile" tabindex="4">
  			</div>
        </div>

  			<hr class="colorgraph">
  			<div class="row">
  				<!-- <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
  				<div class="col-xs-12 col-md-6"><a href="/" class="btn btn-success btn-block btn-lg">Sign In</a></div> -->
					<input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
					<span class="pull-right"><a href="/"><h4>Back to Home</h4></a></span>
  			</div>
  		</form>
  	</div>
  </div>
  </div>

</body>
</html>
