<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
</head>
<body>

<h2>Add Some Projects!</h2>
	<form action="/add_project" method="POST">
	  Title:<br>
	  <input type="text" name="project[title]">
	  <br>
	  Description:<br>
	  <input type="text" name="project[description]"><br>
	  Start Date:<br>
	  <input type="date" name="project[start_date]"><br>
	  End Date:<br>
	  <input type="date" name="project[end_date]"><br>
	  <input type="submit" value="Submit">
	</form>

</body>
</html>