<!DOCTYPE html>
<html>
<head>
	<title>Education</title>
</head>
<body>

<h2>Add Some Education!</h2>
	<form action="/add_education" method="POST">
	  School:<br>
	  <input type="text" name="education[school]"><br>
	  Degree:<br>
	  <input type="text" name="education[degree]"><br>
	  Major:<br>
	  <input type="text" name="education[major]"><br>
	  GPA:<br>
	  <input type="text" name="education[gpa]"><br>
	  Description:<br>
	  <input type="text" name="education[description]"><br>
	  Start Date:<br>
	  <input type="date" name="education[start_date]"><br>
	  End Date:<br>
	  <input type="date" name="education[end_date]"><br>


	  <input type="submit" value="Submit">
	</form>

</body>
</html>