<!DOCTYPE html>
<html>
<head>
	<title>Experience</title>
</head>
<body>

<h2>Add Some Experience!</h2>
	<form action="/add_experience" method="POST">
	  Title:<br>
	  <input type="text" name="experience[title]">
	  <br>
	  Description:<br>
	  <input type="text" name="experience[description]"><br>
	  Start Date:<br>
	  <input type="date" name="experience[start_date]"><br>
	  End Date:<br>
	  <input type="date" name="experience[end_date]"><br>
	  <input type="submit" value="Submit">
	</form>

</body>
</html>